<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your saved builds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let build of builds; let i = index">
    <ion-card-header collapse="condense">
      <ion-toolbar>
        <ion-card-title size="large">Saved Build</ion-card-title>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <p><strong>CPU:</strong> {{ build.cpu.name }}</p>
      <p><strong>Motherboard:</strong> {{ build.motherboard.name }}</p>
      <p><strong>RAM:</strong> {{ build.ram.name }}</p>
      <p><strong>Score:</strong> {{ build.score }}%</p>

    <ion-button color="danger" (click)="deleteBuild(i)">
      Delete Build
    </ion-button>

    <ion-button expand="block" (click)="loadBuild(build)">
      Load Build
    </ion-button>

    </ion-card-content>

  </ion-card>

  <p *ngIf="builds.length === 0">No saved builds yet.</p>

</ion-content>
