ion-toolbar {
  --background: #1e1e1e;
  --border-color: transparent;
}

.nav-btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0 8px; 
  --color: #a0a0a0;
  
  transition: color 0.2s ease-in-out;
}

.active-tab {
  --color: #4da3ff !important;
}